<?xml version="1.0" encoding="utf-8"?>
<!--
  jpackage's shortcut prompt (JDK 17 resources/ShortcutPromptDlg.wxs), turned
  into an options page by adding the keep-settings checkbox. The property and
  what it does are in main.wxs.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define JpDesktopShortcutPromptControlY=140 ?>
  <?define JpStartMenuShortcutPromptControlY=165 ?>

  <?ifndef JpDesktopShortcutPrompt ?>
    <?define JpStartMenuShortcutPromptControlY=$(var.JpDesktopShortcutPromptControlY) ?>
  <?endif?>

  <Fragment>
    <UI>
      <Dialog Id="ShortcutPromptDlg" Width="370" Height="270" Title="!(loc.ShortcutPromptDlg_Title)" NoMinimize="yes">
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes"
                 Text="Choose what to keep and which shortcuts to create." />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes"
                 Text="{\WixUI_Font_Title}Options" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no"
                 Text="!(loc.ShortcutPromptDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Type="CheckBox" X="20" Y="60" Width="330" Height="17" CheckBoxValue="1"
                 Id="KeepSettings"
                 Property="KEEP_SETTINGS"
                 Text="Keep settings and logs from the previous version"/>
        <Control Id="KeepSettingsHint" Type="Text" X="37" Y="78" Width="310" Height="30" NoPrefix="yes"
                 Text="Credentials, watched folders, the Ktuvit login and the log files. Only matters when upgrading." />

        <?ifdef JpDesktopShortcutPrompt ?>
        <Control Type="CheckBox" X="20" Width="200" Height="17" CheckBoxValue="1"
                 Id="InstallDesktopShortcut"
                 Y="$(var.JpDesktopShortcutPromptControlY)"
                 Property="JP_INSTALL_DESKTOP_SHORTCUT"
                 Text="!(loc.ShortcutPromptDlgDesktopShortcutControlLabel)"/>
        <?endif?>

        <?ifdef JpStartMenuShortcutPrompt ?>
        <Control Type="CheckBox" X="20" Width="200" Height="17" CheckBoxValue="1"
                 Id="InstallStartMenuShortcut"
                 Y="$(var.JpStartMenuShortcutPromptControlY)"
                 Property="JP_INSTALL_STARTMENU_SHORTCUT"
                 Text="!(loc.ShortcutPromptDlgStartMenuShortcutControlLabel)"/>
        <?endif?>

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes"
                 Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17"
                 Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes"
                 Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
